@import '../../Asset/style/Mixin';
.TransactionList{
  width: 100%;
  height:270px;
  overflow: hidden;
    overflow-y: auto;
}
.TransactionListTitle{
width: 100%;
height: 60px;
@include Flex(space-between,center);
span{
width: 30px;
height: 30px;
@include Flex(center,center);
border: 1px solid $primery-gray;
font-size: 1.7rem;
color: $primery-gray;
border-radius: 4px;
transition:all 0.5s ease-in-out;
cursor: pointer;
&:hover{
  color: $primery-Blue;
  border:1px solid $primery-Blue;
}
}
}
.TransactionOrder{
  width: 100%;
  height: 30px;
  color: $primery-gray;
  // border-bottom: 1xp solid $border-color;
  ul{ 
    display: grid;
    grid-template-columns: 1.7fr repeat(5,1fr);
    font-size: 1.3rem;
    height: 100%;
    align-items: center;
    @for $i from 3 through 6 {
        li:nth-child(6n+#{$i}){
        text-align: center;
       }
    }
    @for $i from 4 to 6 {
      li:nth-child(6n+#{$i}){
        padding-right: 30%;
      }
    }
    @include media-XScreen($Tablets){
      grid-template-columns: 1.5fr repeat(5,1fr);
    }
    @include media-XScreen($Mobile){
      grid-template-columns: 1.4fr repeat(5,1fr);
    }
  }
}

.TransactionWrapper{
  width: inherit;
  height: calc(55*(3px));
  overflow: auto;
  transition: all 1s ease;
  &::-webkit-scrollbar {
  width: 6px;
}
  &::-webkit-scrollbar:horizontal {
  height: 6px !important;
  max-width: 20%;
}
&::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
  height: 10px;
  min-width: 10px;
}
&::-webkit-scrollbar-thumb:horizontal {
  background: #ddd;
  border-radius: 10px;
  height: 10px;
  // width: 40px !important;
  // min-width: 10px;
}

}
.scroll_Light{
 &::-webkit-scrollbar-thumb {
  background: #ddd;
 } 
 &::-webkit-scrollbar-thumb:horizontal {
  background: #ddd;
 }
}
.scroll_Dark{
&::-webkit-scrollbar-thumb {
  background:$bg-dark-Tertiary;
}
 &::-webkit-scrollbar-thumb:horizontal {
   background:$bg-dark-Tertiary;
 }
}