$bg-body:#F2FAFE;
$whait:#fff;
$border-color:#F7F0F5;
$primery-Blue:#625BC9;
$primery-gray:#A9B0C5;
$primery-Color:#3B3B61;
$light-gray:#ddd;
$light-green:#21CC9E;
$light-red:#FF708B;
$box-shadow:2px 2px 4px #f5f4f4, -2px -2px 4px #f5f4f4;
%bg-color{
  background-color: $whait;
}
@mixin Flex($justify,$align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
%Flex-Center{
  @include Flex(center,center);
}