// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://v1.fontapi.ir/css/Shabnam:400');
@import './Mixin';
@import './Component';
:root{
  font-size: 62.5%; //1rem =10px
}
*,*::after,*::before{
   box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ol,ul{
  list-style: none;
}
button,input,form{
  font-family: inherit !important;
}
textarea{
  resize: none;
}
body{
  font-family: 'Shabnam', 'Open Sans';
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  color: $primery-Color;
}
.container{
    display: grid;
  height: 100vh;
  grid-template-areas:  'aside nav nav'
                        'aside main main'
                        'aside main main';                       
grid-template-columns: 320px repeat(2,1fr);
grid-template-rows: 70px repeat(2,1fr);
background-color: $bg-body;
gap: 15px;
padding: 15px;
}
.Sidebar{
  grid-area: aside;
  @extend %bg-color;
}
.Navbar{
  grid-area: nav;
  display: grid;
  grid-template-columns: 78% 20%;
  column-gap: 2%;
  align-items: center;
  padding-top: 10px;
}
.Content{
  grid-area: main;
  @extend %bg-color;
}
