// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://v1.fontapi.ir/css/Shabnam:400');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './Mixin';
@import './Component';
:root{
  font-size: 62.5%; //1rem =10px
}
*,*::after,*::before{
   box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ol,ul{
  list-style: none;
}
button,input,form{
  font-family: inherit !important;
}
textarea{
  resize: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Source Sans Pro','Shabnam', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  color: $primery-Color;
  //  height: 100vh;
}
.container{
    display: grid;
  height: auto;
  grid-template-areas:  'aside nav nav'
                        'aside main main'
                        'aside main main';                       
grid-template-columns: min-content repeat(2,auto);
grid-template-rows: 70px repeat(2,auto);
background-color: $bg-body;
gap: 15px;
padding: 15px;
}
%sideBarCommonStyle{
  grid-area: aside;
  @extend %bg-color;
   padding: 0 2%;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 5px;
  z-index: 1;
  transition: 1s ease;
}
.Sidebar{
  width: 285px;
  @extend %sideBarCommonStyle;
}
.SidebarCollapsed{
  width: 60px;
  @extend %sideBarCommonStyle;

}
.Navbar{
  grid-area: nav;
  display: grid;
  grid-template-columns: 78% 20%;
  column-gap: 2%;
  align-items: center;
  padding-top: 10px;
}
.Content{
  grid-area: main;
  @extend %bg-color;
  padding: 0 20px;
   border: 1px solid $border-color;
  border-radius: 5px;
}
@media screen and (min-width:$mobile-Xs) and (max-width:$tablet-s) {
  .Navbar{
    background-color:green;
  }
}