@import '../../Asset/style/Mixin';
.WellcomeMassage{
width: 100%;
height: 70px;
@include Flex(space-between,center);
@include media-XScreen($Mobile){
  height: 50px;
  margin-bottom: 5px;
}
@include media-XScreen($Tablets){
  height: 60px;
  margin-bottom: 5px;
}
@include media-XScreen($Laptops){
  height: 65px;
}
@include media-XScreen($Desktops){
  height: 70px;
}
// padding: 0 15px;
}
.TextInfo{
  line-height: 1.6;
  @include media-XScreen($Mobile){
    line-height: 1.5;
    padding-left: 3px;
  }
  @include media-XScreen($Tablets){
    line-height: 1.5;
  }
  h3{
    text-transform: capitalize;
    @include media-XScreen($Mobile){
      font-size: 1.4rem;
    }
    @include media-XScreen($Tablets){
      font-size: 1.6rem;
    }
  }
  p{
    color: $primery-gray;
    font-size: 1.3rem;
    @include media-XScreen($Mobile){
      font-size: 1.1rem;
    }
    @include media-XScreen($Tablets){
      font-size: 1.2rem;
    }
  }
}
.newBudgetBtn{
    all: unset;
    width: 150px;
    height: 40px;
    background-color:  $primery-Blue;
    font-size: 1.3rem;
    font-weight: inherit;
    color: $border-color;
    @include Flex(space-around,center);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.6s;
    @include media-XScreen($Mobile){
      width: 100px;
      height: 32px;
      font-size: 1.14rem;
      padding-left: 3px;
    }
    @include media-XScreen($Tablets){
      width: 110px;
      height: 32px;
      font-size: 1.2rem;
      padding-left: 3px;
    }
    @include media-XScreen($Laptops){}
    span{
      &:nth-child(2){
        font-size: 2rem;
          display: flex;
          @include media-XScreen($Mobile){
            font-size: 1.8rem;
          }
          @include media-XScreen($Tablets){

          }
      }
    }
    &:hover{
     background-color: transparent;
     border: 1px solid $primery-Blue;
     color: $primery-Blue;
    transition: all 0.6s;
    }
  }
// transaction Wrapper
.TransactionWrapper{
  width: 100%;
  height: auto;
  @include Flex(center,center);
  flex-direction: column;
  margin-top: 2%;
  @include media-XScreen($Mobile){
    flex-direction: column-reverse;
  }
  @include media-XScreen($Tablets){
    flex-direction: column-reverse;
  }
}
.TotalTransanction{
   width: 100%;
   height: auto;
  // height: 100vh;
  // padding-top: 15px;
  // display: grid;
  // // direction: rtl;
  // grid-template-areas: 'DetailChart asideChart'
  // 'DetailChart asideChart';
  // grid-template-columns: 65% 35%;
  // grid-template-rows: 1fr 1fr;
  @include Flex(flex-start,center);
  flex-direction: column;
}
// box show tacker
.TransactionBox{
  @include Flex(space-between,center);
  width: 100%;
  height: 150px;
  @include media-XScreen($Mobile){
    height: auto;
    flex-flow: row wrap;
  }

}
.sideChart{
  grid-area: asideChart;
  margin-left:20px;
  // padding: 0 15px;
}
.DetailChart{
   grid-area: DetailChart;
}
//toto box bodget style
.totalBudget{
  width: 30%;
  height: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s ease;
    button{
      height: 25%;
      width: 100%;
      background-color: $primery-Blue;
      border: none;
      cursor: pointer;
      color: $border-color;
      @include Flex(space-between,center);
      padding: 0 15px;
      @include media-XScreen($Mobile){
        font-size: 1.2rem;
      }
      
    }
    @include media-XScreen($Mobile){
      width: 100%;
      height: 110px;
      margin: 3% 0;
    }
}
.totalBudgetInfo{
  height: 75%;
  position: relative;
  @include Flex(space-around,center);
  position: relative;
  @include media-XScreen($Mobile){
    justify-content: space-between;
    padding: 0 15px;
  }
  span{
    @extend %Flex-Center;
    width: 35px;
    height: 35px;
    font-size: 2rem;
    border-radius: 4px;
    color: #21CC9E;
    align-self: baseline;
    margin-top: 20px;
    transition: all 1s ease;
    @include media-XScreen($Mobile){
     width: 24px;
    height: 24px;
    font-size: 1.8rem;
    }
    @include media-XScreen($Tablets){
      width: 28px;
      height: 28px;
      margin-right: 5px;
      font-size: 1.8rem;
    }
  }

}
.totalBudgetDetail{
  line-height: 1.48;
  p{
    color: $primery-gray;
    font-weight: 300 !important;
    &:nth-child(1){
      font-size: 1.4rem;
      @include media-XScreen($Mobile){
        font-size: 1.1rem;
      }
      @include media-XScreen($Tablets){
        font-size: 1.2rem;
      }
    }
    &:nth-child(3){
      font-size: 1.2rem;
      @include media-XScreen($Mobile){
        font-size: 0.92rem
      }
    }
  }
  h2{
    @include media-XScreen($Mobile){
      font-size: 2rem
    }
    @include media-XScreen($Tablets){
      font-size: 2rem;
    }
  }
    @include media-XScreen($Mobile){
  line-height: 1.5;
  }
  @include media-XScreen($Tablets){
    padding-left: 5%;
  }
}
.DetailBudget{
  @include Flex(space-between,center);
  width: 100%;
  // padding-left: 20px;
}
.Btn_BgTranparent{
  background-color: transparent !important;
  color: $primery-gray !important;
  transition: all 0.5s ease-in-out;
  &:hover{
    color: $primery-Blue !important;
    transition: color 0.5s ease-in-out;
  }
}
.br_light{
 border-top: 1px solid $border-color !important;
}
.br_dark{
  border-top: 1px solid $primery-Color !important;
}
%common_titlestyel{
  width: 90px;
display: flex;
justify-content: center;
border-radius: 3px;
padding-top: 2px;
transition: all 1s ease;
@include media-XScreen($Mobile){
width: 70px;
padding: 0;
}
@include media-XScreen($Tablets){
  width: 70px;
  padding: 0;
  border-radius: 2px;
}
}
.colorRed{
  color: #FF708B !important;
}
.IncomeText{
color: #21CC9E !important;
transition: all 1s ease;
@extend %common_titlestyel;
}
.ExpenseText{
  color: #FF708B !important;
 @extend %common_titlestyel;
}
//  charts 
.TransactionCharts{
width: 100%;
height: 250px;
@include Flex(space-between,center);
margin:3% 0 1% 0;
@include media-XScreen($Mobile){
  height: auto;
  flex-direction: column-reverse;
}
@include media-XScreen($Tablets){
  flex-direction: column-reverse;
  height: auto;
}
}
.totalChart{
  width: 30%;
  height: 100%;
  @include Flex(center,center);
 position: relative;
 border-radius: 4px;
 padding-bottom: 25px;
 transition: all 1s ease;
 canvas{
  width: 100%;
  height: 50%;
  @include media-XScreen($Mobile){
    width: 75% !important;
    height: 100% !important;
  }
  @include media-XScreen($Tablets){
    width: 80% !important;
    height: 100% !important;
  }
 }
 @include media-XScreen($Mobile){
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
 }
 @include media-XScreen($Tablets){
  width: 300px;
  height: 250px;
  margin-bottom: 3%;
 }
}
.totalChartInfo{
 position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);  
text-align: center;
P{
  font-size: 1.3rem;
  color: $primery-gray;
  &:nth-child(2){
    font-size: 3rem;
    color: $primery-Color;
    font-weight: bold;
    @include media-XScreen($Mobile){
      font-size: 2.5rem;
    }
    @include media-XScreen($Tablets){
    font-size: 2.5rem;
    }
  }
}    
}
.totalChartHeader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  @include Flex(space-between,center);
  padding: 0 15px;
  font-size: 1.5rem;
  p{
    font-weight: bold;
    transition: all 1s ease;
  }
  span{
    color: $primery-gray;
    cursor: pointer;
  }
}
.totalChartPrice{
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 50px;
  @include Flex(space-around,center);
  div{
    width: 20%;
    @include Flex(space-around,center);
    flex-direction: column;
    span{
      font-size: 1.2rem;
      color: $primery-gray;
    }
    p{
      font-size: 1.8rem;
      font-weight: bold;
      @include media-XScreen($Mobile){
        font-size: 1.6rem;
      }
    }
    &:nth-child(1){
      border-top: 3px solid $primery-Blue;
    }
    &:nth-child(2){
      border-top:3px solid  #21CC9E;
    }
    &:nth-child(3){
      border-top: 3px solid #d9f3e9;
    }
  }
  @include media-XScreen($Mobile){
    justify-content: space-between;
    padding: 0 12%;
  }
  @include media-XScreen($Tablets){
    padding:0 12px;
  }
}
.DetailHistogram {
  width: 65%;
  height: 100%;
  border-radius: 4px;
  padding-left: 20px;
  transition: all 1s ease;
  canvas{
    width: 100% !important;
  }
  @include media-XScreen($Mobile){
    width: 100%;
    height: 150px;
    padding-left: 4px;
  }
  @include media-XScreen($Tablets){
    width: 100%;
    height: 210px;
  }
}
//Transaction List

/// common style Dark and light
// Dark Mode style
.total_light{
  border:1px solid $border-color;
    box-shadow: $box-shadow;
}
.total_dark{
  background-color: $bg-dark-primery;
  border: 1px solid $dark-blue;

}
.Bg_Dark{
  background-color: $bg-dark-Tertiary;
}
.Bg_Light{
background-color: #d9f3e9;
}
.Bg_Expense_Light{
   background: #fbe7eb !important;
}
.Light_text{
  color: $primery-gray !important;
}
.Dark_text{
  color: $primery-Color;
}