@import '../../Asset/style/Mixin';
.WellcomeMassage{
width: 100%;
height: 70px;
@include Flex(space-between,center);
// padding: 0 15px;
}
.TextInfo{
  line-height: 1.6;
  h3{
    text-transform: capitalize;
  }
  p{
    color: $primery-gray;
    font-size: 1.3rem;
  }
}
.newBudgetBtn{
    all: unset;
    width: 150px;
    height: 40px;
    background-color:  $primery-Blue;
    font-size: 1.3rem;
    font-weight: inherit;
    color: $border-color;
    @include Flex(space-around,center);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.6s;
    span{
      &:nth-child(2){
        font-size: 2rem;
          display: flex;
      }
    }
    &:hover{
     background-color: transparent;
     border: 1px solid $primery-Blue;
     color: $primery-Blue;
    transition: all 0.6s;
    }
  }
.TotalTransanction{
   width: 100%;
   height: auto;
  // height: 100vh;
  // padding-top: 15px;
  // display: grid;
  // // direction: rtl;
  // grid-template-areas: 'DetailChart asideChart'
  // 'DetailChart asideChart';
  // grid-template-columns: 65% 35%;
  // grid-template-rows: 1fr 1fr;
  @include Flex(flex-start,center);
  flex-direction: column;
}
.TransactionBox{
 
  @include Flex(space-between,center);
  width: 100%;
  height: 150px;
}
.sideChart{
  grid-area: asideChart;
  margin-left:20px;
  // padding: 0 15px;
}
.DetailChart{
   grid-area: DetailChart;
}
//toto box bodget style
.totoalBudget{
  width: 290px;
  height: 140px;
  border:1px solid $border-color;
    box-shadow: $box-shadow;
    border-radius: 4px;
    overflow: hidden;
    transition:  1s ease;
    button{
      height: 25%;
      width: 100%;
      background-color: $primery-Blue;
      border: none;
      cursor: pointer;
      color: $border-color;
      @include Flex(space-between,center);
      padding: 0 15px;
      
    }
}
.TotalMaxWidth{
  width: 360px;
  transition: 1s ease;

}
.totoalBudgetInfo{
  height: 75%;
  position: relative;
  @include Flex(space-around,center);
  span{
    @extend %Flex-Center;
    width: 35px;
    height: 35px;
    font-size: 2rem;
    background-color: #F8F9FB;
    border-radius: 4px;
    color: #21CC9E;
    align-self: baseline;
    margin-top: 20px;
  }

}
.totoalBudgetDetail{
  line-height: 1.48;
  p{
    color: $primery-gray;
    font-weight: 300 !important;
    &:nth-child(1){
      font-size: 1.4rem;
    }
    &:nth-child(3){
      font-size: 1.2rem;
    }
  }
}
.DetailBudget{
  @include Flex(space-between,center);
  width: 100%;
  // padding-left: 20px;
}
.NoneBtnBg{
  border-top: 1px solid $border-color !important;
  background-color: transparent !important;
  color: $primery-gray !important;
  transition: color 0.5s ease-in-out;
  &:hover{
    color: $primery-Blue !important;
    transition: color 0.5s ease-in-out;
  }
}

%common_titlestyel{
  width: 90px;
display: flex;
justify-content: center;
border-radius: 3px;
padding-top: 2px;
}
.colorRed{
  color: #FF708B !important;
}
.IncomeText{
color: #21CC9E !important;
background: #d9f3e9;
@extend %common_titlestyel;
}
.ExpenseText{
  color: #FF708B !important;
 background: #fbe7eb;
 @extend %common_titlestyel;
}
//  charts 
.TransactionCharts{
width: 100%;
height: 250px;
@include Flex(space-between,center);
margin:3% 0 1% 0;
}
.totoalChart{
  width: 30%;
  height: 100%;
  @include Flex(center,center);
 border: 1px solid $border-color;
 box-shadow: $box-shadow;
 position: relative;
 border-radius: 4px;
 padding-bottom: 25px;
 canvas{
  width: 100%;
  height: 50%;
 }
 
}
.totoalChartInfo{
 position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);  
text-align: center;
P{
  font-size: 1.3rem;
  color: $primery-gray;
  &:nth-child(2){
    font-size: 3rem;
    color: $primery-Color;
    font-weight: bold;
  }
}    
}
.totalChartHeader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  @include Flex(space-between,center);
  padding: 0 15px;
  font-size: 1.5rem;
  p{
    font-weight: bold;
    color: $primery-Color;
  }
  span{
    color: $primery-gray;
    cursor: pointer;
  }
}
.totalChartPrice{
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 50px;
  @include Flex(space-around,center);
  div{
    width: 20%;
    @include Flex(space-around,center);
    flex-direction: column;
    span{
      font-size: 1.2rem;
      color: $primery-gray;
    }
    p{
      font-size: 1.8rem;
      font-weight: bold;
    }
    &:nth-child(1){
      border-top: 3px solid $primery-Blue;
    }
    &:nth-child(2){
      border-top:3px solid  #21CC9E;
    }
    &:nth-child(3){
      border-top: 3px solid #d9f3e9;
    }
  }
}
.DetailHistogram {
  width: 65%;
    height: 100%;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding-left: 20px;
  canvas{
    width: 100% !important;
  }
}
//Transaction List