@import '../../Asset/style/Mixin';
.Modal{
position: absolute;
top:0;
right: 0;
width: 100%;
height: 100%;
// background-color: rgba($color:$light-green, $alpha:0.3);
z-index: 2;
}
.ModalWrapper{
  width: 50%;
  height: 70%;
  transform: translate(50%,25%);
  background-color: $bg-body;
  border-radius: 5px;
}