@import '../../Asset/style/Mixin';
.SearchBar{
width: 100%;
height: 70px;

@include Flex(flex-end,center);
padding: 0 4px;
@include media-XScreen($Mobile){
  height: 50px;
  //  justify-content: space-evenly;
}
@include media-XScreen($Tablets){
  height: 60px;
}
@include media-XScreen($Laptops){
  height: 65px;
}

form{
  width: 25%; //250px
  height: 30px;
  @include media-XScreen($Mobile){
    width: 50%;
  }
  @include media-XScreen($Tablets){
    width: 40%;
  }
  @include media-XScreen($Laptops){
  width: 30%;
}
@include media-XScreen($Desktops){
  width: 25%;
}
 }
}
.br_light{
  border-bottom: 1px solid $border-color;
}
.br_gray{
  border-bottom:1px solid $primery-gray;
}
.SearchWrapper{
width: 100%;
height: 100%;
position: relative;
margin-left: 5px;
input[type='text']{
  width: 100%;
  height: 100%;
  padding-left: 35px;
  border:1px solid $primery-gray;
  border-radius: 3px;
  transition: border .5s ease-in-out;
  color: $primery-Blue;
  @include media-XScreen($Mobile){
    border: 1px solid $primery-gray;
    padding-left: 22px;
  }
  @include media-XScreen($Tablets){
    border: 1px solid $primery-gray;
    padding-left: 26px;
  }
&::placeholder{
  color: #A9B0C5;
  font-size: 1.1rem;
}
&:focus{
  outline: none;
  border: 1px solid $primery-Blue;
   transition: border .5s ease-in-out;
   @include media-XScreen($Mobile){
    border: 1px solid $primery-Blue;
   }
   @include media-XScreen($Tablets){
    border: 1px solid $primery-Blue;
   }
   + span{
    color:$primery-Blue;
     transition: color .5s ease-in-out;
  }
}
}
span{
  @extend %Flex-Center;
  width: 40px;
  height: 100%;
  position: absolute;
  top:0;
  color: $primery-gray;
   transition: color .5s ease-in-out;
   @include media-XScreen($Mobile){
    width: 25px;
    padding-top: 2px;
   }
   @include media-XScreen($Tablets){
    width: 30px;
   }
}
}
%btn-style{
  width: 30px;
  height: 30px;
  font-size: 2.2rem;
  margin: 0 4px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  @include media-XScreen($Mobile){
    width: 24px;
    height: 24px;
    font-size: 1.8rem
  }
  @include media-XScreen($Tablets){
    width: 28px;
    height: 28px;
  }
}
%Notification{
@extend %btn-style;
 transition: all 1s ease;
   span{
    &:nth-child(1){
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #c95b72;
      position: absolute;
      right: 6px;
      top: 8px;
      border:2px solid #fff;
      @include media-XScreen($Mobile){
        width: 8px;
        height: 8px;
        right: 4px;
        top: 4px;
      }
    }
    &:nth-child(2){
      width: 100%;
      height: 100%;
      @extend %Flex-Center;
  }
  }
}
.Notification_light{
  @extend %Notification;
  background-color: #F8F9FB;
}
.Notification_Dark{
@extend %Notification;
background-color: #1e293e;
}
%Mode{
  @extend %btn-style; 
   font-size:2rem;
   @include media-XScreen($Mobile){
    font-size: 1.7rem;
  }
  @include media-XScreen($Tablets){
    font-size: 1.9rem;
  }
}
.DarkMode{
  background-color: #1e293e;
  @extend %Mode;
  
}
.lightMode{
  background-color: #F8F9FB;
@extend %Mode;
}
.SwitchBtn{
   width: 100%;
    height: 100%;
   @extend %Flex-Center;
   position: relative;
   overflow: hidden;
  //  &:hover{
  //   span{
  //     &:nth-child(1){
  //       transform: translateY(-100%);
  //       opacity: 0;
  //     }
  //     &:nth-child(2){
  //            transform: translateY(0);
  //            color: gold;
  //               opacity: 1;
  //     }
  //   }
  //  }
   span{
    position: absolute;
    top:5px;
    left: 5px;
    @include media-XScreen($Mobile){
      top:4px;
      left: 4px;
    }
    @include media-XScreen($Tablets){
      top: 16%;
      left: 16%;
    }
    &:nth-child(1){
      transform: translateY(0);
      opacity: 1;
      transition: all 1.5s ease-in-out;
      
      }
    &:nth-child(2){
      transform: translateY(-100%);
      opacity: 0;
      transition: all 1.4s ease-in-out;
    }
   }
  }
  .ActiveDarkMode{
  span{
        &:nth-child(1){
          transform: translateY(-100%);
          opacity: 0;
        }
        &:nth-child(2){
               transform: translateY(0);
               color: gold;
                  opacity: 1;
        }
      }
  }
.DarkTheme{
  background-color: #1e293e;
   transition: all 1s ease;
}