@import '../../Asset/style/Mixin';
.Navigation,.Profile{
  @extend %bg-color;
  height: 60px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 1.4rem;
}
.Navigation{
  ul{
    width: 100%;
    height: 100%;
    @include Flex(flex-start,center);
    color: $primery-gray;
  li{ 
      height: inherit;
      width: auto;
      margin: 0 15px;
      cursor: pointer;
    @include Flex(center,center);
     transition: color .5s ease-in-out;
      &:first-child{
        color: $primery-Blue;
        border-bottom: 3px solid $primery-Blue;
      }
      &:hover{
        color: $primery-Blue;
        transition: color .5s ease-in-out;
      }
    }
  }
}
.Profile{
  position: relative;
}
.ProfileBtnMenu{
  width: 100%;
  height: inherit;
@include Flex(space-around,center);
cursor: pointer;
color:$primery-Color;
img{
  border-radius: 50%;
  padding: 2px;
width: 37px;
height: 37px;
border: 1px solid $border-color;
}
svg{
  font-size: 2rem;
}
}
.SubMenu{
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  height: 120px;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  border: 1px solid $border-color;
  @include Flex(space-around,flex-start);
  flex-direction: column;
  font-size: inherit;
  @extend %bg-color;
color: $primery-Color;
li{
  width: 100%;
  height: 50px;
  @include Flex(flex-start,center);
  transition: all 0.5s ease-in-out;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
    span{
      &:nth-child(1){
        font-size: 1.8rem;
        margin-right:10px ;
      }
      &:nth-child(2){
        font-size: 1.3rem;
      }
    }
    &:hover{
      color: $primery-Blue;
      background:#eee;
      transition: all 0.5s ease-in-out;
    }
    &:last-child{
      border-bottom: none;
    }
    }
}
@media screen and (min-width:$mobile-Xs) and (max-width:$mobile-L) {
  .Navigation,.Profile{
    height: 100%;
    font-size:1.2rem;
    border-radius: 3px;
  }
  .Navigation{
    ul{
      overflow: hidden;
      li{
        &:first-child{
          border-bottom: 2px solid $primery-Blue;
        }
        margin: 0 4px !important;
      }
    }
  }
  .ProfileBtnMenu{
    img{
      width: 35px;
      height: 35px;
      padding: 2px;
    }
   span{
    display: none;
   }
   svg{
    font-size: 2rem;
   }
  }
  .SubMenu{
    top: 47px;
    width: 100%;
    height: 75px;
    right: -2px;
    border-radius: 3px;
    overflow: hidden;
    li{
      height: 25px;
      padding: 0 2px;
      span{
        &:nth-child(1){
          font-size: 1.4rem;
          margin-right: 4px;
        }
        &:nth-child(2){
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (min-width:($mobile-L+1)) and (max-width:$tablet-L) {
   .Navigation,.Profile{
    height: 100%;
    // font-size:1.2rem;
    border-radius: 3px;
  }
  .ProfileBtnMenu{
    img{
      width: 35px;
      height: 35px;
      padding: 2px;
    }
   span{
    white-space: nowrap;
    font-size: 1.19rem;
   }
  }
  .SubMenu{
    top: 49px;
    height: 90px;
    border-radius: 3px;
    overflow: hidden;
    li{
      height: (90px)/3;
    }
  }
}
@media screen and (min-width:($tablet-L+1)) and (max-width:$pc-L) {
}
@media screen and (min-width:($pc-L+1)) and (max-width:$pc-XL) {}